#bio {
  margin-top: 85vh;
  background-color: var(--color-black);
  padding: 10% 10% 5% 25%;
}

.bio__container {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-left: white 3px solid;
}

h2 {
  color: white;
}
