#work{
    margin-top: 10%;
    height: fit-content;
}

.work__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about__work {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about__card {
    display: flex;
    flex-direction: row;

    gap: 2rem;
}

.right{
    width: 50%;
    vertical-align: middle;

    display:flex;
    flex-direction: column;
    gap: 0.5rem;

}

.left {
    width: 50%;
    object-fit: cover;
    
    vertical-align: middle;

    border-radius: var(--border-radius-1);
    border: 5px solid;
    border-color: var(--color-secondary);
    transition: var(--transition);
}

.left:hover {
    border-color: var(--color-primary);
}

.right p {
    text-align: right;
    width: 100%;
    background: var(--color-light);
    padding: 20px;
    border-radius: var(--border-radius-2);
}

.right h3 {
    color: var(--color-primary);
    text-align: right;
}

.right small {
    font-style: italic;
    text-align: right;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.card.about__card a {
    font-size: 1.5rem;
    color: var(--color-primary);
    background: transparent;

    transition: var(--transition);
}

.card.about__card a:hover {
    color: var(--color-secondary);
    transform: translateY(-5px);
}

