#work {
  height: fit-content;
  display: flex;
  flex-direction: column;
  
  padding-top: 32px;
}

.work_header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 32px;
}

.work_header h2 {
  color: var(--color-black);
}

.work_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
}
