#work {
  height: fit-content;
}

.work__container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin-left: 8%;
}

.about__work {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-gap: 1.5rem;
}

h3 {
  margin-top: 0.5rem;
}
