#about {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 15px;
  background-color: var(--color-black);
  z-index: 2;
}

.about_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 1.5rem;

  padding-top: 125px;
  padding-bottom: 125px;
}

.about_container h2 {
  color: var( --color-gray);
}

.about_container p {
  color: var( --color-gray);
}

.about_container span {
  color: var(--color-green3);
  font-weight: 500;
  font-style: italic;
}

.contents {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 50%;

  border-bottom: 2px solid white;
}
