.about__container {
  justify-content: center;
  align-items: center;

  display: flex;
}

.contents {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  width: 80%;
}

#headshot {
  width: 40%;
  border-radius: var(--border-radius-2);
}

.contents h3 {
  width: 40%;
  color: var(--color-green4);
}
