#contact{
    max-width: 50%;
    margin: auto;
}

.contact__container {

    margin: auto;

    border-top: 5px #f1f2f3 solid;
    border-bottom: 5px #f1f2f3 solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;

    padding: 1rem 0 1rem 0;
}

