header {
  margin-top: 5rem; /*to push down below the navbar*/
  height: calc(
    100vh - 5rem
  ); /*make sure we push down in consideration to the margin*/
  display: grid;
  place-items: center;
  background: var(--color-white);
  transition: var(--transition);
  height: fit-content;
}

.headerText {
  font-size: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to right,
    #cad2c5,
    #84a98c,
    #52796f,
    #354f52,
    #2f3e46
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
}

.profile {
  display: block;
  margin: auto auto auto auto;
}

.bio__container {
  margin-top: 10%;
}

.bio__container p {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 2.5vh;

  border: 5px #f1f2f3 solid;
  padding: 1.5rem;
}

.arrow {
  margin-top: 3%;
  width: 30px;
  height: 30px;

  background-color: white;
  background-image: url("../../assets/downarrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  animation: fadeinout 3s ease-in-out infinite;
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.1;
  }
}

.headerBase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);

  line-height: 1.1;
  font-size: 15vh;
  white-space: nowrap;
  color: var(--color-primary);

  mix-blend-mode: exclusion;
}

.headerOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);

  line-height: 1.1;
  font-size: 15vh;
  white-space: nowrap;
  color: var(--color-primary);

  mix-blend-mode: color;
}
