.bubble__container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  z-index: 10;

  padding: 0.5rem;

  transition: var(--transition);
}

.bubble__container:hover {
  background-color: rgba(228, 255, 236, 0.148);
  transform: translateX(-1rem);
  transition: var(--transition);
}

#image {
  width: 5rem;
  height: fit-content;

  border: null solid 5px;
  border-radius: 1rem;
  object-fit: contain;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

h1 {
  color: var(--color-green1);
  font-size: 5vh;
}

p {
  color: white;
}
