.bubble_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-left: solid var(--color-green3) 2px;
  width: 100%; 
  transition: var(--transition);
  z-index: 10;
  padding-left: 16px;
}

.about_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 1.5rem;
  padding: 64px;
}

.contentImage {
  width: calc(50% - 8px);
  aspect-ratio: 2;
  object-fit: cover;

  position: absolute;

  opacity: 0;
  right:-32px;
  pointer-events: none;

  border-radius: var(--border-radius-1);
  filter: brightness(80%);

  transition: var(--transition);
}

.bubble_container:hover {
  border-left: solid var(--color-green1) 2px;
}

.bubble_container:hover .contentImage {
  right: 0px;
  opacity: 1;
}

.bubble_content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: calc(50% - 16px);
}

.image {
  height: 4rem;
  aspect-ratio: 1;
  border-radius: var(--border-radius-2);
  object-fit: contain;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-start;
  text-align: left;
}

.details h3 {
  font-weight: 600;
  color: var( --color-gray);
}

.details p {
  color: var(--color-green2);
}