.image__container {
  z-index: 10;
}

.portfolioImages {
  width: 35vw;
  height: 50vh;

  object-fit: cover;
  vertical-align: middle;

  transition: var(--transition);
}

.portfolioImages:hover {
  transition: var(--transition);
}
