.card_container {
  display: block;
  position: relative;
  gap: 0.2rem;
  width: fit-content;
  z-index: 10;

  background-color: var(--color-black);
  padding: 15px;
  border-radius: var(--border-radius-2);
  transition: var(--transition);
}

.img_container {
  display: flex;
  align-items: center;
  gap: 45px;
  pointer-events: none;
}

.text_container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.portfolioImages {
  position: relative;

  opacity: 100%;
  width: calc( min(30vw, 432px) - 50px);
  aspect-ratio: 1.5;

  object-fit: cover;
  vertical-align: middle;

  border-radius: var(--border-radius-2);
  transition: var(--transition);
}

.title {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toolTip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
  color: white;
  border-radius: var(--border-radius-2);
  padding: 7.5px 20px;
  opacity: 0;
  transition: var(--transition);
}