nav {
  width: 100vw; /*cover entire viewport*/
  height: 7rem;
  display: grid;
  place-items: center; /*place container in the middle*/
  position: fixed;
  top: 0;
  left: 0;
}

.nav__container {
  opacity: 0%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  animation: text-in 2s cubic-bezier(0.97, 0.01, 0.36, 0.99);
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.nav__container a {
  color: white;
  transition: var(--transition);
}

.nav__menu {
  margin-left: 75%;
  padding: 10px;
  border-radius: var(--border-radius-3);

  display: flex;
  gap: 5rem;

  background-color: var(--color-black);

  animation: slide-out-nav 0.75s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-fill-mode: forwards;
}

@keyframes slide-out-nav {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes text-in {
  0% {
    transform: translateY(2.5rem);
    opacity: 0%;
  }

  100% {
    transform: translateY(0rem);
    opacity: 100%;
  }
}
