nav {
  width: 100vw; /*cover entire viewport*/
  height: 3rem;

  position: fixed;
  margin: auto;

  opacity: 0%;

  animation: text-in 2s cubic-bezier(0.97, 0.01, 0.36, 0.99);
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.nav__container {
  margin: 2rem auto auto auto;
  width: 50vw;

  background-color: var(--color-gray);
  border-radius: var(--border-radius-4);

  animation: slide-out-nav 0.75s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
  animation-fill-mode: forwards;
}

.nav__container a {
  color: var(--color-black);
  transition: var(--transition);
}

.nav__menu {
  margin: auto;
  justify-content: center;
  display: flex;

  padding: 0.5rem;

  gap: 5vw;

  animation: slide-out-nav 0.75s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
  animation-fill-mode: forwards;
}

@keyframes slide-out-nav {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes text-in {
  0% {
    transform: translateY(2.5rem);
    opacity: 0%;
  }

  100% {
    transform: translateY(0rem);
    opacity: 100%;
  }
}
