nav {
  width: 100vw; /*cover entire viewport*/
  height: 7rem;
  display: grid;
  place-items: center; /*place container in the middle*/
  position: fixed;
  top: 0;
  left: 0;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__container a {
  color: white;
  transition: var(--transition);
}

.nav__menu {
  margin-left: 75%;
  padding: 10px;
  border-radius: var(--border-radius-3);

  display: flex;
  gap: 5rem;

  background-color: var(--color-black);

  animation: slide-out-nav 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-fill-mode: forwards;
}

@keyframes slide-out-nav {
  0% {
    transform: translateY(0%);
  }

  70% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
    opacity: 0%;
  }
}
