.experiences__container {
  padding: 2% 0% 2% 5%;
  margin-left: 5rem;

  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  background-color: var(--color-black);
  border-left: solid var(--color-green2) 1rem;

  width: 75%;
}
