* {
  /*reset all elements*/
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "RedHatDisplay";
  src: local("RedHatDisplay"),
    url("./fonts/RedHatDisplay/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded";
  src: local("Unbounded"),
    url("./fonts/Unbounded/Unbounded-VariableFont_wght.ttf") format("truetype");
}

:root {
  /*GENERAL CONTAINER VARIABLES*/
  --container-width-lg: 76%; /*for desktop*/
  --container-width-md: 90%; /*for phones and tablets*/

  /*BORDER RADIUS VARIABLES */
  --border-radius-rounded: 200px;
  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;
  --border-radius-4: 0.2rem;

  /*GENERAL TRANSITION VARIABLE*/
  --transition: all 250ms ease;

  /*COLORS*/
  --color-green1: #cad2c5;
  --color-green2: #84a98c;
  --color-green3: #52796f;
  --color-green4: #354f52;
  --color-green4: #2f3e46;
  --color-black: #232222;

  --color-gray: #f5f5f5;
}

html {
  scroll-behavior: smooth;
  background-color: #FAF9F6;

  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;

  overflow-x: hidden;
}

h1 {
  font-family: "Unbounded";
  font-size: 5rem;
  font-weight: 400;
  color: var(--color-black);
}

h2 {
  font-family: "RedHatDisplay";
  font-size: 3rem;
  font-weight: 500;

  color: var(--color-black);
}

h3 {
  font-family: "RedHatDisplay";
  font-size: 2rem;
  font-weight: 400;

  color: var(--color-green4);
}

a {
  font-family: "RedHatDisplay";
  font-size: 1.2rem;

  color: var(--color-black);
}

p {
  font-family: "RedHatDisplay";
  font-size: 1.2rem;

  color: var(--color-black);
}

small
{
  font-family: "RedHatDisplay";
  font-size: 1rem;
}

a {
  transition: var(--transition);
}

@media (max-width: 768px) {
  p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  a {
    font-size: 1.0rem;
  }
  
}

