* {
  /*reset all elements*/
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "RedHatDisplay";
  src: local("RedHatDisplay"),
    url("./fonts/RedHatDisplay/RedHatDisplay-VariableFont_wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "Unbounded";
  src: local("Unbounded"),
    url("./fonts/Unbounded/Unbounded-VariableFont_wght.ttf") format("truetype");
}

:root {
  /*BORDER RADIUS VARIABLES */
  --border-radius-rounded: 200px;
  --border-radius-1: 24px;
  --border-radius-2: 16px;

  /*GENERAL TRANSITION VARIABLE*/
  --transition: all 250ms ease;

  /*COLORS*/
  --color-green1: #cad2c5;
  --color-green2: #84a98c;
  --color-green3: #52796f;
  --color-green4: #354f52;
  --color-green4: #2f3e46;
  --color-black: #232222;

  --color-gray: #f5f5f5;
  --color-white: #faf9f6;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-white);
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-family: "Unbounded";
  font-size: 5rem;
  font-weight: 400;
  color: var(--color-black);
}

h2 {
  font-family: "RedHatDisplay";
  font-size: 2.75rem;
  font-weight: 500;

  color: var(--color-black);
}

h3 {
  font-family: "RedHatDisplay";
  font-size: 1.5rem;
  font-weight: 400;

  color: var(--color-green4);
}

a {
  font-family: "RedHatDisplay";
  font-size: 1.2rem;

  color: var(--color-black);
}

a {
  transition: var(--transition);
}

p {
  font-family: "RedHatDisplay";
  font-size: 1.2rem;

  color: var(--color-black);
}

small {
  font-family: "RedHatDisplay";
  font-size: 1rem;
  color: var(--color-green1);
  text-wrap: wrap;
}

main {
  width: 84%;
  margin: auto;
}

.subheader {
  color: var(--color-gray);
  font-weight: 800;
  font-size: 2.75rem;
}

@media screen and (max-width: 960px) {
  p {
    font-size: 0.9rem;
  }

  small {
    font-size: 0.85rem;
  }

  .subheader {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  h3 {
    font-size: 1.25rem;
  }

  main {
    width: 95%;
    min-width: 300px;
  }
}
