* { /*reset all elements*/
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    /*define custom properties*/
    --primary-hue: 270;
    --black-lightness: 15%;
    --dark-lightness: 44%;
    --light-lightness: 94%;
    --white-lightness: 100%;
    --color-primary: #60AFFF;
    --color-secondary: #FFB6C1;
    --color-white: white;
    --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
    --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
    --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));

    /*GENERAL CONTAINER VARIABLES*/
    --container-width-lg: 76%; /*for desktop*/
    --container-width-md: 90%; /*for phones and tablets*/

    /*BORDER RADIUS VARIABLES */
    --border-radius-1: 1.2rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 0.5rem;

    /*GENERAL TRANSITION VARIABLE*/
    --transition: all 500ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    /*set fonts*/
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 0.9rem;
}

/*GENERAL CONTAINER CLASS STYLES (to help us center all of our elements)*/
.container {
    width: var(--container-width-lg);
    margin-inline: auto; /*margin in the x-axis -> auto centering*/
    max-width: 1920px;
}

/*GENERAL SECTION STYLES*/
section {
    padding: 10% 0;
    background: var(--color-white);
    transition: var(--transition);
}

/*selecting the h2 tag in each section component (they are direct children)*/
section > h2 {
    text-align: center;
}

section > p {
    text-align: center;
    margin: 0.5rem auto 4rem;
    width: 40%; /*40% of the total available space*/
}


/*GENERAL HEADING STYLES */
h1,h2,h3,h4,h5,h6 {
    line-height: 1.1; /*sets distance betweens lines of text*/
    color: var(--color-black);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 7vh;
}

h3 {
    font-size: 5vh;
}

h4 {
    font-size: 1.1rem;
}

h5{
    font-size: 0.95rem;
}

h6{
    font-size: 0.8rem;
}

/*GENERAL IMAGE STILES*/
.img {
    display: block; /*starts on a new line and takes up avaiable screen width*/
    width: 100%;
    object-fit: cover; /*specifies how an img should be resized to fit the container*/
}

/*GENERAL BUTTON STYLES*/
.btn {
    display: inline-block; /*unlike block, it allows elements to sit next to other elements*/
    width: fit-content;
    display: flex; /*auto align children such as texts or images in the button*/
    align-items: center; /*align those children to the center*/
    gap: 1rem;
    background: var(--color-light);
    color: var(--color-black);
    padding: 0.6rem 2.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.btn.primary {
    background: var(--color-primary);
    color: white;/*such that the color is constant even when displaying different theme of colors*/
    transition: var(--transition);
}

.btn.primary:hover {
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
    transform: translateY(-0.5rem);
}
